* {

 margin: 0;
 padding: 0;
 
}

body {
   
    font-family: "Oswald", sans-serif;
}

a {
 color: #ffffff; 
 text-decoration: none;


}

a :hover{

    
    color: #CE2A36; 
       
    transition: 0.5s;
}

.logo img {
    width: 120px;
  display: flex;
  
  
}

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background:#262626;
    height: 8vh;
    
}

nav a img {

   
   
    width: auto;
    margin-right: var(--theme-spacing-inline-sm);
}


main {

    background:url("imgs/Fundo.PNG") no-repeat center top;
    background-size: cover;
    height: 92vh;

}

.nav-list {

list-style: none;
display: flex;



}

.nav-list li {
    
font-size: 23px;
    letter-spacing: 3px;
    margin-left: 32px;
   
   
    
}


.mobile-menu
{
    display: none;
    cursor: pointer;
}
.mobile-menu div {

width: 32px;
height: 2px;
background:#CE2A36;
margin: 8px;

}

@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 40vw;
      height: 92vh;
      background: #262626;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }